<article id="envio" class="proceso-compra">
  <div class="toast-holder" ng-class="{'show': data.showSendError}">
    <div class="toast">
      <span class="texto">Error de envío, inténtelo nuevamente más tarde <br/> o póngase en contacto con nosotros directamente</span>
    </div> <!-- .toast -->
  </div>

  <h2 class="notVisible">Envío</h2>


  <nav class="fixedNav ">
    <h2 class="notVisible">Navegacion interna</h2>
    <ul class="listado wrapper"><!--
    --><li class="actual"><button class="anchor"><span class="num">1</span>Mi carrito</<button></li><!--
  --><li class="actual"><button class="anchor"><span class="num">2</span>Armá tus productos</button></li><!--
--><li class="actual"><button class="anchor"><span class="num">3</span>Pago online</button></li><!--
--><li><button class="anchor"><span class="num">4</span>Confirmación</button></li><!--
--></ul>
</nav>


<div class="section wrapper container">
  <form id="form-envio"  method="post">
    <div class="cols"><!--
    --><div class="col tabla">

    <div class="formulario">
      <h2 class="notVisible" id="topForScroll">Formulario de envío</h2>

      <ul>
        <li class="separador">
          <h3 class="titulo">Datos personales</h3>

          <div class="cols"><!--
          --><div class="col">
          <label ng-class="{'focus': focusName == true}">
            <span class="caption">Nombre completo (*)</span>
            <input type="text" value="" name="nombre" placeholder="Ingrese su nombre..." class="validate-required" ng-model="data.userDetails.name" ng-focus="focusName = true" ng-blur="focusName = false">
            <label for="nombre" generated="true" class="error" ng-if="!data.userDetails.name && data.formValidation">Debe ingresar su nombre</label>
          </label>

        </div><!--
        --><div class="col">
        <label ng-class="{'focus': focusMail == true}">
          <span class="caption">Mail (*)</span>
          <input type="email" value="" name="email" placeholder="Ingrese su email..." class="validate-required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ng-model="data.userDetails.mail" ng-change="formChange()" ng-focus="focusMail = true" ng-blur="focusMail = false">
          <label for="nombre" generated="true" class="error" ng-if="!data.userDetails.mail && data.formValidation">Debe ingresar un mail válido</label>
        </label>
      </div><!--
      --><div class="col">
      <label ng-class="{'focus': focusCell == true}">
        <span class="caption">Celular (*)</span>
        <input type="tel" value="" name="celular" placeholder="Ingrese su celular..." class="validate-required" ng-model="data.userDetails.cell" ng-change="formChange()" ng-focus="focusCell = true" ng-blur="focusCell = false">
        <label for="nombre" generated="true" class="error" ng-if="!data.userDetails.cell && data.formValidation">Debe ingresar un celular</label>
      </label>
    </div><!--
    --><div class="col">
    <label ng-class="{'focus': focusPhone == true}">
      <span class="caption">Teléfono</span>
      <input type="tel" value="" name="telefono" placeholder="Ingrese su teléfono..." class="" ng-model="data.userDetails.phone" ng-change="formChange()" ng-focus="focusPhone = true" ng-blur="focusPhone = false">
    </label>
  </div><!--
  --></div> <!-- .cols -->

</li>
<li class="separador">
  <h3 class="titulo" id="formaDeEnvio">Forma de envío (*)</h3>

  <div class="radios">
    <label ng-repeat="method in data.shippingMethods track by $index">
      <input type="radio" name="envio" value="{{method.id}}" class="validate-required" ng-model="data.userDetails.pickup" ng-change="onShippingMethodSelect(method.price, 0)">
      <span class="holder"></span>
      <span class="caption">{{method.title}} (${{method.price}})</span>
    </label>
  </div> <!-- .radios -->
  <label for="envio" class="error" ng-if="!data.userDetails.pickup && data.formValidation">Debe especificar una forma de envío</label>
  <div class="cols" ng-show="data.userDetails.pickup ? data.userDetails.pickup != -1 : false"><!--
  --><div class="col">
  <label ng-class="{'focus': focusAddress == true}">
    <span class="caption">Dirección principal (*)</span>
    <input type="text" name="direccion" value="" placeholder="Ingrese su dirección principal..."  class="validate-required" ng-model="data.userDetails.address" ng-focus="focusAddress = true" ng-blur="focusAddress = false">
    <label for="nombre" generated="true" class="error" ng-if="!data.userDetails.address && data.formValidation">Debe especificar su dirección</label>
  </label>
</div><!--
--><div class="col">
<label ng-class="{'focus': focusLandmarks == true}">
  <span class="caption">Referencias (*)</span>
  <input type="text" name="referencias"  value="" placeholder="Orientaciones, esquina, kms"  class="validate-required" ng-model="data.userDetails.landmarks" ng-focus="focusLandmarks = true" ng-blur="focusLandmarks = false">
  <label for="nombre" generated="true" class="error" ng-if="!data.userDetails.landmarks && data.formValidation">Debe dar una referencia de orientación</label>
</label>
</div><!--
--></div> <!-- .cols -->

<!-- </li>
<li class="separador">
<h3 class="titulo" id="velocidadDeProduccion">Velocidad de producción</h3>
<div class="radios">
<label ng-repeat="method in data.shippingTypes track by $index">
<input type="radio" name="tipo" value="{{method.id}}" class="validate-required" ng-model="data.userDetails.type" ng-change="onShippingMethodSelect(method.price, 1)">
<span class="holder"></span>
<span class="caption">{{method.title}} (${{method.price}})</span>
</label>
</div>
<label for="envio" class="error" ng-if="!data.userDetails.type && data.formValidation">Debe especificar una velocidad de producción</label>
</li> -->

<li class="separador">
  <h3 class="titulo" id="formaDePago">Forma de pago</h3>

  <div class="radios">
    <label ng-repeat="payment in data.paymentMethods track by $index">
      <input type="radio" name="pago" value="{{payment.method}}" class="validate-required" ng-model="data.userDetails.payment">
      <span class="holder"></span>
      <span class="foto" ng-class="payment.class" style=""></span>
    </label>

    <label for="pago" class="error" ng-if="!data.userDetails.payment && data.formValidation">Debe seleccionar un método de pago</label>

  </div> <!-- .radios -->
</li>
</ul>
<div class="response">
  <span></span>
</div> <!-- .response -->
</div>


</div><!--
--><div class="col resumen">
<resumen-compra-directive on-next-state-click="validateForm()" show-shipping-cost = "true"></resumen-compra-directive>
</div><!--
--></div>
</form>
</div>
</article>
