<article id="listado-compra" class="proceso-compra armado-productos">
  <div class="toast-holder" ng-class="{'show': data.showErrorMessage}">
    <div class="toast" ng-style="{'background-color':data.errorMessageBackgroundColor}">
      <span class="texto">{{data.errorMessage}}</span>
    </div> <!-- .toast -->
  </div>

  <h2 class="notVisible">Armar productos</h2>

  <nav class="fixedNav ">
    <h2 class="notVisible">Navegacion interna</h2>
    <ul class="listado wrapper"><!--
    --><li class="actual"><button class="anchor"><span class="num">1</span>Mi carrito</<button></li><!--
  --><li class="actual"><button class="anchor"><span class="num">2</span>Armá tus productos</button></li><!--
--><li><button class="anchor"><span class="num">3</span>Pago online</button></li><!--
--><li><button class="anchor"><span class="num">4</span>Confirmación</button></li><!--
--></ul>
</nav>

<div class="section wrapper container">
  <div class="tabla">
    <ul>
      <single-product-directive ng-repeat="product in data.productsInCart track by $index" max-pictures="product.maxPictures" proportions="product.pictureProportions" name="product.name" revelado="product.revelado" ready="product.ready" model="product.pictures" gift-message = "product.giftMessage" class="item producto-comp" show-overflow="showOverflowError(options)" get-ready-status="getReady()" paid="data.orderPaid" mobile-mode="data.mobileMode"></single-product-directive>
    </ul>
  </div>

</div>

<div class="finalizar-pedido section">
  <div class="wrapper">
    <h2 class="subtitulo">¿Desea finalizar el pedido?</h2>
    <button type="button" class="boton" ng-disabled="!data.allProductsSet" ng-click="uploadToServer()">Siguiente <span>paso</span></button>
    <p class="text disclaimer" ng-if="!data.allProductsSet" ng-class="{'loading':data.orderLoading}">{{data.confirmationMessage}}</p>
  </div> <!-- .wrapper -->
</div>
</article>
